@model CadastroCS.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
    var id = Model?.Id;
}

<h3>Detalhes do Fornecedor</h3>

<div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Cnpj)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Cnpj)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Segmento)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Segmento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Cep)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Cep)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Endereco)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Endereco)
                    </dd>
                </dl>
            </div>

            <div class="col-sm-5">
                <div class="justify-content-left">
                    <img id="selectedImage" src="@Url.Action("GetImage", "Fornecedores", new { id })"
                         alt="example placeholder" style="width: 200px;" />
                </div>
            </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
